:root {
  --mainfont-nanum: "nanumSquareNeo";
  --mainfont-nexon: "nexonLv1";

  --black: #000;
  --black100: #111;
  --black200: #222;
  --black300: #333;
  --black400: #444;
  --black500: #555;

  --blackAlpha:rgba(29, 29, 29, 0);
  --blackAlpha100:rgba(29, 29, 29, 0.267);
  --blackAlpha200:rgba(29, 29, 29, 0.322);
  --blackAlpha300:rgba(29, 29, 29, 0.267);
  --blackAlpha400:rgba(29, 29, 29, 0.486);
  --blackAlpha500:rgba(29, 29, 29, 0.568);
  
  --white: #fff;
  --white100: #dbdbdb;
  --white200: #bbbbbb;
  --white300: #fff;
  --white400: #fff;
  --white500: #fff;

  --red: #f00;
  
  // 폰트 셋팅
  font-family: var(--mainfont-nanum), var(--mainfont-nexon);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  
  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
      font-size: 14px;
      line-height: 1.4;
  }
}
